.serving-size-container span {
    cursor: pointer; /* Changes the cursor to a pointer */
    color: #007BFF; /* Change the text color */
    text-decoration: underline; /* Adds an underline */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.serving-size-container span:hover {
    color: #0056b3; /* Darken the text color on hover */
}

h2{
    margin: 10px 0px;
}

.food-item-container {
    display: flex;
    align-items: center; /* Centers items vertically */
    padding: 10px; /* Add some padding for better spacing */
    background-color: rgb(213, 228, 214);
    border-radius: 10px;
}

.food-details {
    flex: 1; /* Allow this section to grow */
}

.food-title{
    font-weight: bold;
    min-width: 300px;
}

.kcal{
    min-width: 100px;
}

.date, .serving-size-container{
    min-width: 150px; 
}

.delete-btn {
    margin-left: auto; /* Pushes the button to the right */
}

.serving-size-input{
    width: 100px;
}