@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure body takes full height */
  overflow: hidden; /* Prevent body from scrolling */
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap: 50px;
    height: calc(100vh - 50px); /* Full viewport height minus nav's height */
    overflow-y: scroll; /* Enable vertical scrolling */
    border: 1px solid black;
  }

.left-panel{
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    justify-content: space-around;
    gap: 10px;
    margin: 10px;
    min-width: 400px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    line-height: 1.4;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    border: none; /* Remove border */
    border-radius: 25px; /* Fully rounded corners */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}